 header {
    background-image: url(../style/Assets/Hero-bg.png);

 }


 .inter-logo {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
 }


 .raleway-btn {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
 }

 .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
 }

 .logo {
    font-size: 34px;
    font-weight: bolder;
    color: #4E47FF;

 }

 .btn {
    background-color: #4E47FF;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    width: 132px;
    border-radius: 16px;
    border: none;

 }

 .header-title {
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
    padding-left: 220px;
    padding-right: 220px;

 }

 .padding {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
 }

 .img {
    height: 250px;
    width: 308px;
    border-radius: 16px;
 }

 .join {
    background-color: #dad9f7;
    height: 306px;
    width: 1050px;
    border-radius: 16px;
 }

 .ks {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
 }

 .ds {
    font-size: 20px;
    font-weight: 400;
    color: #747476;
    text-align: center;
 }

 .rate {
    display: flex;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;

 }

 .review {
    background-color: white;
    height: 170px;
    width: 250px;
    border: 500px solid #0d0d0e;


 }